
  #qrVerisi {
    margin: 10px;
    padding: 5px;
    text-align: center;
  }


  .qrKodu {
    margin: 10px;
   
  }

  #qrKoduContainer{
    width: 370px;
    height: 370px;
    border: transparent 5px solid;
    
  }

  .qrStart{
    padding-top:50px;
  }

